<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Портал
        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Главная страница</a></li>
        <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link">Регистрация</a></li>
    </ul>

    {% block content %}
    No data here
    {% endblock %}

</div>
</body>
</html>